html{
    box-sizing: border-box;
}

body{
    background-color: #000000;
    margin: 0;
}

#box_pagina{
    margin: auto;
    width: 80%;
    background-color: #ffffff;
}

#main_logo{
    width: 200px;
    margin-top: 37px;
    margin-bottom: 8px;
    margin-left: 5px;
}

header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: 400px;
}